.pofatu-map-icon
{
  border:1px solid black;
  color:blue;
  font-weight:bold;
  text-align:center;
  line-height:8px;
  width: 8px;
  opacity: 0.7;
}

.pofatu-map-icon-artefact {
  border-radius:50%;
}

.clld-map-icon {opacity: 0.7;}
